- components = data
%td.vtop.pt3{:colspan => "2"}
  %table.materials.data
    %thead
      %tr
        %td Type
        %td Reference no
        %td Name
        %td Color
        %td Composition
        %td.right-align Width
        %td.right-align Quantity
    %tbody
      - components.each do |component|
        - material = component.material
        %tr
          %td= material.type.name
          %td= material.reference
          %td= material.name
          %td= material.color
          %td= material.composition
          %td.right-align= material.width
          %td.right-align
            = component.quantity
            - if material.unit_type
              = material.unit_type.display_name
