%p
  Status
  %span.red.bold Disabled
%p
  = "The subscription for this Organization will cancel on #{@end_date}"
- if @is_own_subscription
  = form_tag("/subscriptions/#{@subscription.guid}/reactivate", method: :patch) do |f|
    %button{type:'submit'}= "Reactivate using card ending in #{@subscription.card_last4}"
%p
  %a{href:new_subscription_path} Start a new subscription