.center
  The subscription for this Organization will end on
  %b= @end_date
- if @is_own_subscription
  .mt3
    = form_tag("/subscriptions/#{@subscription.guid}/reactivate", method: :patch) do |f|
      %button.btn.btn-cta{type:'submit'}
        Reactivate
        %span= "Using card ending in #{@subscription.card_last4}"
.mt2
  %a.btn.btn-cta{href:new_subscription_path} Start a new subscription