%h1.mt0= "#{@organization.name} [Billing]"
= render partial: 'current_subscription'
- if @is_active
  %h3 Auto Renewal
  - if @will_cancel
    = render partial: 'status_ending'
  - else
    = render partial: 'status_ongoing'
- else
  %a.btn{href:new_subscription_path} New