<% material = component.material %>
<tr>
  <td>
    <table class="data">
      <tr>
        <td><b>Name</b></td>
        <td><%= material.name %></td>
      </tr>
      <tr>
        <td><b>Type</b></td>
        <td><%= material.type.name %></td>
      </tr>
      <tr>
        <td><b>Quantity</b></td>
        <td><%= component.quantity %></td>
      </tr>
      <tr>
        <td><b>Supplier</b></td>
        <td><%= material.supplier.name %></td>
      </tr>
      <tr>
        <td><b>Reference no.</b></td>
        <td><%= material.identifier %></td>
      </tr>
      <tr>
        <td><b>Color</b></td>
        <td><%= material.color.name %></td>
      </tr>
    </table>
  </td>
  <td class="material-img">
    <% if material.image %>
      <div class="img img-right" style="background-image: url('<%= material.image.file.url(:small) %>');"></div>
    <% end %>
  </td>
</tr>