<tr>
  <td>
    <table class="data">
      <tr>
        <td><b>Name</b></td>
        <td><%= component.material.name %></td>
      </tr>
      <tr>
        <td><b>Type</b></td>
        <td><%= component.material.type.name %></td>
      </tr>
      <tr>
        <td><b>Quantity</b></td>
        <td><%= component.quantity %></td>
      </tr>
      <tr>
        <td><b>Supplier</b></td>
        <td><%= component.material.supplier.name %></td>
      </tr>
      <tr>
        <td><b>Reference no.</b></td>
        <td><%= component.material.identifier %></td>
      </tr>
      <tr>
        <td><b>Color</b></td>
        <td><%= component.material.color.name %></td>
      </tr>
    </table>
  </td>
  <td class="p1">
    img
  </td>
</tr>