<% 
images = comment.images
img_count = images.length
img_colwidth = img_count > 0 ? (100 / img_count) : nil
%>
<div class="comment">
  <div class="author">
    <% if comment.is_reply %>
      <b><%= comment.user.name %></b> replied:
    <% else %>
      <span class="date">
        <%= comment.created_at.strftime('%H:%M (%b %d)') %>
      </span>
      <b><%= comment.user.name %></b> said:
    <% end %>
  </div>
  <div class="pb2"><%= comment.text %></div>
  <% if images.any? %>
    <table class="comment-images">
      <colspan>
        <% img_count.times do |i|%>
          <col width="<%= img_colwidth %>">
        <% end %>
      </colspan>
      <tr>
      <% images.each do |img| %>
        <td>
          <div class="img img-left" style="background-image:url('<%= img.file.url(:small) %>');"></div>
        </td>
      <% end %>
      </tr>
    </table>
  <% end %>
  <div class="replies">
    <% comment.replies.each do |r| %>
      <%= render partial: "spec_sheet/comment", locals: { comment: r } %>
    <% end %>
  </div>
</div>