- images = comment.images
- img_count = images.length
- img_colwidth = img_count > 0 ? (100 / img_count) : nil
.comment
  .author
    - if comment.is_reply
      %b= comment.user.name
      replied:
    - else
      %span.date
        = comment.created_at.strftime('%H:%M (%b %d)')
      %b= comment.user.name
      said:
  .pb2= comment.text.html_safe
  - if images.any?
    %table.comment-images
      %colspan
        - img_count.times do |i|
          %col{:width => img_colwidth}/
      %tr
        - images.each do |img|
          %td
            .img.img-left{:style => "background-image:url('#{img.file.url(:small)}');"}
  .replies
    - comment.replies.each do |r|
      = render partial: "spec_sheet/comment", locals: { comment: r }
