.pb2.bb2
  %table
    %colgroup
      %col{:width => "40%"}/
      %col{:width => "60%"}/
    %tr
      %td
        .app-title
          - if @project.ref_number
            = "#{@project.ref_number} - "
          = @project.name
          - if @project.color_code
            = " - #{@project.code_code}"
        %h1.page-title= title
      %td.right-align.vbottom
        - if @project.collection
          .pb1
            %b Collection:
            = @project.collection
        .pb1
          %b Organization:
          = @project.organization.name
        %b Contact:
        = @project.organization.owner.email
        
