<div class="img" style="background-image:url('<%= src %>');">
  <img src="<%= src %>"> />
  <% if defined?(annotations)
    annotations.each do |a| 
      a.anchors.each do |o| %>
        <div class="anchor <%= a.type %>" style="top: <%= o.y_percent %>; left: <%= o.x_percent %>;"></div>
      <% end
    end
  end %>
</div>