  <div class="img-container">
    <img src="<%= src %>">
    <div class="overlay">
      <% if defined?(annotations)
        annotations.each do |a| 
          a.anchors.each do |o| %>
            <div class="anchor <%= a.type %>-anchor" style="top: <%= o.y_percent %>%; left: <%= o.x_percent %>%;"></div>
          <% end
          if a.anchors.size > 1 %>
            <div class="line <%= a.type %>-line" style="<%= a.line_css %>"></div>
          <% end
        end
      end %>
    </div>
  </div>