<% img_count = instruction.images.length %>
<% img_count = 1 unless img_count > 0 %>
<% img_width = "#{100 / img_count}%" %>
<table class="instruction">
  <colgroup>
    <% img_count.times do |i| %>
      <col width="<%= img_width %>">
    <% end %>
  </colgroup>
  <tr class="instruction-text">
    <td colspan="<%= img_count %>">
      <h2><%= instruction.title %></h2>
      <div class="pt2 pb2">
        <%= instruction.description %>
      </div>
    </td>
  </tr>
  <tr class="instruction-images">
    <% instruction.images.each do |image| %>
      <td>
        <div class="img img-left" style="background-image: url('<%= image.file.url(:small) %>');"></div>
      </td>
    <% end %>
  </tr>
</table>
