<% components = data %>
<td colspan="2" class="vtop pt3">
  <table class="materials data">
    <thead>
      <tr>
        <!--<td>Image</td>-->
        <td>Name</td>
        <td>Type</td>
        <td>Quantity</td>
        <td>Supplier</td>
        <td>Reference</td>
        <td>Color</td>
      </tr>
    </head>
    <tbody>
      <% components.each do |component| %>
        <% material = component.material %>
        <tr>
          <!--
          <td class="material-img">
            <% if material.image %>
              <div class="img" style="background-image: url('<%= material.image.file.url(:small) %>');"></div>
            <% end %>
          </td>
          -->
          <td><%= material.name %></td>
          <td><%= material.type.name %></td>
          <td><%= component.quantity %></td>
          <td><%= material.supplier_name %></td>
          <td><%= material.reference %></td>
          <td><%= material.color %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</td>