<% 
  groups = data.measurement_groups
  names = data.measurement_names
  values = data.measurement_values
%>
<td class="image pt3">
  <div class="img" style="background-image:url('<%= project.image_url %>');"></div>
</td>
<td class="content pt3">
  <table class="measurements">
    <thead>
      <tr>
        <td>Description</td>
        <% groups.each do |group| %>
          <td><%= group.name %></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% names.each do |name| %>
        <tr>
          <td>
            <b class="pr1"><%= name.identifier %></b>
            <%= name.value %>
          </td>
          <% groups.each do |group| %>
            <% data.measurement_values!.each do |value| %>
              <% next unless value.group.id == group.id %>
              <% next unless value.name.id == name.id %>
              <td><%= value.value %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</td>