%div{class:"page #{view}"}
  %table.main
    %tbody
      %tr
        %td.header{:colspan => "2"}
          = render partial: 'spec_sheet/header', locals: { title: title }
      %tr.body
        = render partial: "spec_sheet/pages/#{view}", locals: { data: defined?(data) ? data : nil }
  .page-number
    = "Page #{@pagenumber}"
