- @pagenumber = 1
- @components = @project.components
- @measurements = @project.measurement_values
- @instructions = @project.instructions
- @images = @project.images
- def render_page(title, view, data = nil) render({ partial: 'spec_sheet/page', locals: { title: title, view: view, data: data }}) end
!!!
%html
  %head

    %meta{:charset => "utf8"}
    %title= @project.name 
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    - f = File.open("#{Rails.root}/lib/css/pdf.css")
    :css
      #{f.read}
      
  %body

    - if @options[:cover]
      = render({ partial: 'spec_sheet/pages/cover' })

    - if @components.any? && @options[:materials]
      - @components.each_slice(6) do |slice|
        = render_page 'Materials', 'materials', slice
        - @pagenumber += 1

    - if @measurements.any? && @options[:measurements]
      = render_page 'Measurements', 'measurements'
      - @pagenumber += 1

    - if @instructions.any? && @options[:instructions]
      - @instructions.each_slice(4) do |slice|
        = render_page 'Instructions', 'instructions', slice
        - @pagenumber += 1
        
    - if @options[:comments]
      - if @options[:comments] == 'Annotated'
        - @images.with_comment_annotations.each do |i|
          = render partial: 'spec_sheet/pages/comments', locals: { image: i }
          
    - if @images.length > 1 && @options[:secondary_images]
      - @images.drop(1).each_slice(2) do |slice|
        = render_page 'Secondary images', 'images', slice
        - @pagenumber += 1
    
    = render partial: 'spec_sheet/script'
    