<% 
pagenumber = 1 
@components = @project.components
@measurements = @project.measurement_values
@instructions = @project.instructions
@comments = @project.comments
def anything?
  @components.any? || @measurements.any? || @instructions.any? || @comments.any?
end
%><!doctype html>
<html lang="en">
<head>
  <meta charset="utf8" />
  <title><%= @project.name %></title>
</head>
<body>

  <% unless anything? %>
    <%= render({
      partial: 'spec_sheet/page', 
      locals: { title: 'New project', project: @project, data: @project, view: 'new', pagenumber: pagenumber }
    }) %>
  <% end %>

  <% if @components.any? %>
    <% @components.each_slice(3) do |slice| %>
      <%= render({
        partial: 'spec_sheet/page', 
        locals: { title: 'Materials', project: @project, data: slice, view: 'components', pagenumber: pagenumber }
      }) %>
      <% pagenumber += 1 %>
    <% end %>
  <% end %>

  <% if @measurements.any? %>
    <%= render({
      partial: 'spec_sheet/page', 
      locals: { title: 'Measurements', project: @project, data: @project, view: 'measurements', pagenumber: pagenumber }
    }) %>
    <% pagenumber += 1 %>
  <% end %>

  <% if @instructions.any? %>
    <% @instructions.each_slice(4) do |slice| %>
      <%= render({
        partial: 'spec_sheet/page', 
        locals: { title: 'Instructions', project: @project, data: slice, view: 'instructions', pagenumber: pagenumber }
      }) %>
      <% pagenumber += 1 %>
    <% end %>
  <% end %>

  <% if @comments.any? && @options[:comments] %>
    <% @comments.each_slice(4) do |slice| %>
      <%= render({
        partial: 'spec_sheet/page', 
        locals: { title: 'Comments', project: @project, data: slice, view: 'comments', pagenumber: pagenumber }
      }) %>
      <% pagenumber += 1 %>
    <% end %>
  <% end %>

</body>
</html>