- @pagenumber = 1
- @components = @project.components
- @measurements = @project.measurement_values
- @instructions = @project.instructions
- @comments = @project.comments
- @images = @project.images
!!!
%html
  %head

    %meta{:charset => "utf8"}/
    %title= @project.name 
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    - f = File.open("#{Rails.root}/lib/css/pdf.css")
    :css
      #{f.read}
      
  %body

    - if @options[:cover]
      = render({ partial: 'spec_sheet/pages/cover' })

    - if @components.any? && @options[:materials]
      - @components.each_slice(20) do |slice|
        = render partial: 'spec_sheet/page', locals: { title: 'Materials', data: slice, view: 'pages/materials' } 
        - @pagenumber += 1

    - if @measurements.any? && @options[:measurements]
      = render partial: 'spec_sheet/page', locals: { title: 'Measurements', view: 'pages/measurements' } 
      - @pagenumber += 1

    - if @instructions.any? && @options[:instructions]
      - @instructions.each_slice(4) do |slice|
        = render partial: 'spec_sheet/page', locals: { title: 'Instructions', data: slice, view: 'pages/instructions' } 
        - @pagenumber += 1
        
    - if @options[:comments]
      - if @options[:comments] == 'Annotated'
        - @images.with_comment_annotations.each do |i|
          = render partial: 'spec_sheet/page', locals: { title: 'Comments', data: i, view: 'pages/comments' }
          - @pagenumber += 1
          
    - if @images.length > 1 && @options[:secondary_images]
      - @images.drop(1).each_slice(2) do |slice|
        = render partial: 'spec_sheet/page', locals: { title: 'Secondary images', data: slice, view: 'pages/images' } 
        - @pagenumber += 1
    
    = render partial: 'spec_sheet/script'
    