!!!
%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= 'Billing | Weavenote'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = render 'payola/transactions/stripe_header'
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
  %body
    .vh-100.flex.items-center.justify-center.bg-gray-light
      %div
        .box
          .p4
            = yield
        .center.mt2
          %a{href:ENV['WEAVENOTE_SITE_URL']} return
          